.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}


.layout-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(12, 60, 75);
  padding: 10px;
}

.navbar a {
  margin-left: 15px;
  text-decoration: none;
  color: #dcd6d6;
  font-weight: bold;
}


.navbar a:hover {
  text-decoration: underline;
}